<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>onSale</display-name>
	<welcome-file-list>
		<welcome-file>main.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>ShoppingFrontController</servlet-name>
		<servlet-class>com.onsale.app.shopping.ShoppingFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShoppingFrontController</servlet-name>
		<url-pattern>*.sh</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserBoardFrontController</servlet-name>
		<servlet-class>com.onsale.app.board.UserBoardFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserBoardFrontController</servlet-name>
		<url-pattern>*.ub</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>OwnerBoardFrontController</servlet-name>
		<servlet-class>com.onsale.app.board.OwnerBoardFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OwnerBoardFrontController</servlet-name>
		<url-pattern>*.ob</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserFrontController</servlet-name>
		<servlet-class>com.onsale.app.user.UserFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserFrontController</servlet-name>
		<url-pattern>*.me</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MartsearchFrontController</servlet-name>
		<servlet-class>com.onsale.app.martsearch.MartsearchFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MartsearchFrontController</servlet-name>
		<url-pattern>*.ma</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>OwnerFrontController</servlet-name>
		<servlet-class>com.onsale.app.owner.OwnerFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OwnerFrontController</servlet-name>
		<url-pattern>*.ow</url-pattern>
	</servlet-mapping>
</web-app>